@import './bootstrap.css';


main{
    min-height: 80vh;
}

.NavBar{
    height: 80px;
    background-color: #61a290; 

}
.nav-bar-icons {
    font-size: 16px;  
}

.NavBar .nav-bar-icons .nav-link i:hover,
.NavBar .nav-bar-icons .nav-link:hover {
  color:  #ffffff;
}